<img class="{{ROOT}}__hamburger-icon" src="{{battleHamburgerMenuPath}}" alt="ハンバーガーメニューのアイコン"/>
<div class="{{ROOT}}__menu">
  <div class="{{ROOT}}__retry">このステージをやり直す</div>
  <div class="{{ROOT}}__end-battle">バトルを終了する</div>
</div>