<div class="{{MESSAGE_WINDOW_ROOT}}__paragraph">
  <img
    class="{{MESSAGE_WINDOW_ROOT}}__minus-battery"
    src="{{minusBatteryPath}}"
    alt="マイナスバッテリーボタン"
  />
  <img
    class="{{MESSAGE_WINDOW_ROOT}}__plus-battery"
    src="{{plusBatteryPath}}"
    alt="プラスバッテリーボタン"
  />
  で数字を調整したら
</div>