<div class="{{MESSAGE_WINDOW_ROOT}}__paragraph--align-center">
  <img
    class="{{MESSAGE_WINDOW_ROOT}}__minus-battery"
    src="{{minusBatteryPath}}"
    alt="マイナスバッテリーボタン"
  />
  <img
    class="{{MESSAGE_WINDOW_ROOT}}__plus-battery"
    src="{{plusBatteryPath}}"
    alt="プラスバッテリーボタン"
  />
  で数字を調整したら
</div>
<div class="{{MESSAGE_WINDOW_ROOT}}__paragraph--align-center">
  <img
    class="{{MESSAGE_WINDOW_ROOT}}__defense-battery"
    src="{{defenseBatteryPath}}"
    alt="ボウギョバッテリーボタン"
  />
  を押そう
</div>