<div class="{{ROOT}}__title">ロボ、パイロット選択</div>
<div class="{{ROOT}}__armdozer-selector">
  <div
    class="{{ROOT}}__armdozer-icon-container"
    data-id="armdozer-icon-container"
  ></div>
  <div class="{{ROOT}}__armdozer-selection-indicator" id="armdozer-selection-indicator"></div>
  <div class="{{ROOT}}__armdozer-selection-detail" id="armdozer-selection-detail">未選択</div>
</div>
<div class="{{ROOT}}__pilot-selector">
  <div
    class="{{ROOT}}__pilot-icon-container"
    data-id="pilot-icon-container"
  ></div>
  <div class="{{ROOT}}__pilot-selection-indicator"></div>
  <div class="{{ROOT}}__pilot-selection-detail">未選択</div>
</div>
<div class="{{ROOT}}__controllers">
  <button class="{{ROOT}}__prev">戻る</button>
  <button class="{{ROOT}}__ok">これでいく</button>
</div>