<div class="{{ROOT}}__title">ロボ、パイロット選択</div>
<div class="{{ROOT}}__armdozer-selector">
  <div
    class="{{ROOT}}__armdozer-icon-container"
    data-id="armdozer-icon-container"
  ></div>
  <div
    class="{{ARMDOZER_UNSELECTED}}"
    data-id="armdozer-selection-indicator"
  ></div>
  <div
    class="{{ROOT}}__armdozer-selection-detail"
    data-id="armdozer-selection-detail"
  >未選択
  </div>
</div>
<div class="{{ROOT}}__pilot-selector">
  <div
    class="{{ROOT}}__pilot-icon-container"
    data-id="pilot-icon-container"
  ></div>
  <div
    class="{{PILOT_UNSELECTED}}"
    data-id="pilot-selection-indicator"
  ></div>
  <div
    class="{{ROOT}}__pilot-selection-detail"
    data-id="pilot-selection-detail"
  >未選択</div>
</div>
<div class="{{ROOT}}__controllers">
  <button class="{{ROOT}}__prev" data-id="prev-button">戻る</button>
  <button class="{{ROOT}}__ok" data-id="ok-button">これでいく</button>
</div>