<div class="{{ROOT_CLASS}}__title">
  <div class="{{ROOT_CLASS}}__stage">
    <div class="{{ROOT_CLASS}}__stage-prefix">STAGE</div>
    <div class="{{ROOT_CLASS}}__stage-level">{{level}}</div>
  </div>
  <div class="{{ROOT_CLASS}}__caption">
    {{#each caption}}
      <span class="{{../ROOT_CLASS}}__caption-clause">{{this}}</span>
    {{/each}}
  </div>
</div>
<img
  class="{{ROOT_CLASS}}__armdozer-icon"
  alt="対戦相手アームドーザアイコン"
  data-id="{{ids.armDozerIcon}}"
/>