<div class="{{BLOCK}}__contents">
  <div class="{{BLOCK}}__title">
    <div class="{{BLOCK}}__stage">
      <div class="{{BLOCK}}__stage-prefix">STAGE</div>
      <div class="{{BLOCK}}__stage-level">{{level}}</div>
    </div>
    <div class="{{BLOCK}}__caption" data-id="caption"></div>
  </div>
  <img
    class="{{BLOCK}}__armdozer-icon"
    alt="対戦相手アームドーザアイコン"
    data-id="armdozerIcon"
  />
  <div class="{{BLOCK}}__now-loading">
    Now Loading……
  </div>
</div>