<div class="{{ROOT}}__background" data-id="back-ground"></div>
<div class="{{ROOT}}__dialog">
  <div class="{{ROOT}}__armdozer">
    <div class="{{ROOT}}__armdozer-name">{{armdozer.name}}</div>
  </div>
  <div class="{{ROOT}}__pilot">
    <div class="{{ROOT}}__pilot-name">{{pilot.name}}</div>
  </div>
</div>