<div class="{{ROOT}}__background" data-id="back-ground"></div>
<div class="{{ROOT}}__dialog">
  <img class="{{ROOT}}__closer" alt="閉じる" src="{{closerPath}}" />
  <div class="{{ROOT}}__armdozer">
    <div class="{{ROOT}}__armdozer-name">{{armdozer.name}}</div>
    <div class="{{ROOT}}__armdozer-hp">{{armdozer.maxHp}}</div>
    <div class="{{ROOT}}__armdozer-power">{{armdozer.power}}</div>
    <div class="{{ROOT}}__armdozer-speed">{{armdozer.speed}}</div>
  </div>
  <div class="{{ROOT}}__pilot">
    <div class="{{ROOT}}__pilot-name">{{pilot.name}}</div>
  </div>
</div>