<div class="{{ROOT}}__background" data-id="back-ground"></div>
<div class="{{ROOT}}__dialog">
  <img
    class="{{ROOT}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="closer"
  />
  <div class="{{ROOT}}__contents">
    <div class="{{ROOT}}__armdozer">
      <div class="{{ROOT}}__armdozer-icon">
        {{#if isEnemy}}
          <img
            class="{{ROOT}}__armdozer-icon-img--enemy"
            src="{{armdozerIconPath}}"
            alt="アームドーザアイコン"
          />
        {{else}}
          <img
            class="{{ROOT}}__armdozer-icon-img"
            src="{{armdozerIconPath}}"
            alt="アームドーザアイコン"
          />
        {{/if}}
      </div>
      <div class="{{ROOT}}__armdozer-info">
        <div class="{{ROOT}}__armdozer-basic-status">
          <span class="{{ROOT}}__armdozer-name">{{armdozer.name}}</span>
          <span class="{{ROOT}}__armdozer-hp">
            <span class="{{ROOT}}__armdozer-hp-label">HP</span>
            <span class="{{ROOT}}__armdozer-hp-value">
              {{armdozer.hp}}/{{armdozer.maxHp}}
            </span>
          </span>
          <span class="{{ROOT}}__armdozer-battery">
            <span class="{{ROOT}}__armdozer-battery-label">
              <img
                class="{{ROOT}}__battery-icon"
                src="{{batteryIconPath}}"
                alt="バッテリーアイコン"
              />
            </span>
            <span class="{{ROOT}}__armdozer-battery-value">
              {{armdozer.battery}}/{{armdozer.maxBattery}}</span>
          </span>
          <span class="{{ROOT}}__armdozer-power">
            <span class="{{ROOT}}__armdozer-power-label">攻撃</span>
            <span class="{{ROOT}}__armdozer-power-value">{{totalPower}}</span>
          </span>
          <span class="{{ROOT}}__armdozer-speed">
            <span class="{{ROOT}}__armdozer-speed-label">機動</span>
            <span
              class="{{ROOT}}__armdozer-speed-value"
            >{{armdozer.speed}}</span>
          </span>
        </div>
        <div class="{{ROOT}}__burst">
          <span class="{{ROOT}}__burst-icon">
            <span class="{{ROOT}}__burst-label">バースト</span>
            <span class="{{burstAvailableClassName}}"></span>
            <span
              class="{{ROOT}}__available-caption"
            >{{burstAvailableCaption}}</span>
          </span>
          <span class="{{ROOT}}__burst-description">{{burstDescription}}</span>
        </div>
      </div>
    </div>
    <div class="{{ROOT}}__pilot">
      <div class="{{ROOT}}__pilot-icon">
        {{#if isPilotHidden}}
          <span class="{{ROOT}}__unknown-pilot">?</span>
        {{else}}
          {{#if isEnemy}}
            <img
              class="{{ROOT}}__pilot-icon-img--enemy"
              src="{{pilotIconPath}}"
              alt="パイロットアイコン"
            />
          {{else}}
            <img
              class="{{ROOT}}__pilot-icon-img"
              src="{{pilotIconPath}}"
              alt="パイロットアイコン"
            />
          {{/if}}
        {{/if}}
      </div>
      <div class="{{ROOT}}__pilot-info">
        <div class="{{ROOT}}__pilot-basic-status">
          <span class="{{ROOT}}__pilot-name">
            {{#if isPilotHidden}}
              ???
            {{else}}
              {{pilot.name}}
            {{/if}}
          </span>
        </div>
        <div class="{{ROOT}}__pilot-skill">
          <span class="{{ROOT}}__pilot-skill-icon">
            <span class="{{ROOT}}__pilot-skill-label">スキル</span>
            <span class="{{pilotAvailableClassName}}"></span>
            <span
              class="{{ROOT}}__available-caption"
            >{{pilotAvailableCaption}}</span>
          </span>
          <span class="{{ROOT}}__pilot-skill-description">
            {{#if isPilotHidden}}
              ???
            {{else}}
              {{pilotSkillDescription}}
            {{/if}}
          </span>
        </div>
      </div>
    </div>
    <div class="{{ROOT}}__effects">
      <span class="{{ROOT}}__effects-label">適用中の効果：</span>
      {{#if allEffects.length}}
        {{#each allEffects}}
          <span class="{{ROOT}}__effect-description">{{this}}</span>
          {{#unless @last}}、{{/unless}}
        {{/each}}
      {{else}}
        <span class="{{ROOT}}__no-effects">なし</span>
      {{/if}}
    </div>
  </div>
</div>