<div class="{{ROOT}}__background" data-id="back-ground"></div>
<div class="{{ROOT}}__dialog">
  <img
    class="{{ROOT}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="closer"
  />
  <div class="{{ROOT}}__title">チュートリアルをはじめますか？</div>
  <div class="{{ROOT}}__description">
    ストーリーモードの中からチュートリアル系ステージだけをプレイします。
  </div>
  <button
    class="{{ROOT}}__start-tutorial"
    data-id="start-tutorial"
  >チュートリアルをはじめる</button>
  <button class="{{ROOT}}__close" data-id="close">閉じる</button>
</div>