<div class="{{ROOT}}__background" data-id="back-ground"></div>
<div class="{{ROOT}}__dialog">
  <img
    class="{{ROOT}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="closer"
  />
  チュートリアルモードは、ストーリーモードの中から初心者向けのステージを抜粋したものです。
  『チュートリアルをはじめる』を押すと、これらのステージをプレイできます。
  <button class="{{ROOT}}__start-tutorial">チュートリアルをはじめる</button>
  <button class="{{ROOT}}__close">閉じる</button>
</div>