<div class="{{ROOT_CLASS}}__dialog">
  <img class="{{ROOT_CLASS}}__closer" alt="閉じる" src="{{closerPath}}" data-id="closer"/>
  <div class="{{ROOT_CLASS}}__qr-code-description">QRコードを共有してプライベートマッチ開始</div>
  <canvas class="{{ROOT_CLASS}}__qr-code" data-id="qr-code"></canvas>
  <div class="{{ROOT_CLASS}}__separator">or</div>
  <div class="{{ROOT_CLASS}}__room-id-description">ルームIDを共有してプライベートマッチ開始</div>
  <div class="{{ROOT_CLASS}}__room-id">
    <div class="{{ROOT_CLASS}}__room-id-value">{{roomID}}</div>
    <button class="{{ROOT_CLASS}}__copy-room-id" data-id="copy-room-id">コピー</button>
  </div>
</div>