<div class="{{ROOT_CLASS}}__background"></div>
<div class="{{ROOT_CLASS}}__dialog">
  <img class="{{ROOT_CLASS}}__closer" alt="閉じる" src="{{closerPath}}" data-id="closer" />
  <div class="{{ROOT_CLASS}}__title">プライベートマッチ（ホスト）</div>
  <div class="{{ROOT_CLASS}}__description">{{description}}</div>
  <div class="{{ROOT_CLASS}}__room-id">{{roomID}}</div>
</div>