<div class="{{ROOT}}__background"></div>
<div class="{{ROOT}}__dialog">
  <img
    class="{{ROOT}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="{{ids.closer}}"
  />
  <img class="{{ROOT}}__enemy-armdozer" src="{{enemyArmdozerPath}}">
  <img class="{{ROOT}}__turn-indicator" src="{{turnIndicatorPath}}">
  <img class="{{ROOT}}__player-armdozer" src="{{playerArmdozerPath}}">
</div>