<div class="{{ROOT}}__background"></div>
<div class="{{ROOT}}__dialog">
  <img
    class="{{ROOT}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="{{ids.closer}}"
  />
  <div class="{{ROOT}}__enemy">
    <img
      class="{{ROOT}}__enemy-armdozer"
      alt="敵のアームドーザ"
      src="{{enemyArmdozerPath}}"
    />
    <span class="{{ROOT}}__enemy-battery-value">3</span>
  </div>
  <div class="{{ROOT}}__middle">
    <img
      class="{{ROOT}}__turn-indicator"
      alt="ターンインジケーター"
      src="{{turnIndicatorPath}}"
    />
  </div>
  <div class="{{ROOT}}__player">
    <img
      class="{{ROOT}}__player-armdozer"
      alt="プレイヤーのアームドーザ"
      src="{{playerArmdozerPath}}"
    />
    <span class="{{ROOT}}__player-battery-value">4</span>
  </div>
  <div class="{{ROOT}}__enemy-battery">
    <button class="{{ROOT}}__enemy-battery-minus">-</button>
    <button class="{{ROOT}}__enemy-battery-plus">+</button>
  </div>
  <div class="{{ROOT}}__player-battery">
    <button class="{{ROOT}}__player-battery-minus">-</button>
    <button class="{{ROOT}}__player-battery-plus">+</button>
  </div>
</div>