<label class="{{ROOT_CLASS}}__battle-window-font-size-item">
  <input
    class="{{ROOT_CLASS}}__battle-window-font-size-radio"
    type="radio"
    name="battle-window-font-size"
    value="{{value}}"
    {{checked}}
  />
  {{caption}}
</label>