<div class="{{ROOT_CLASS}}__battle-controller-type-item">
  <label class="{{ROOT_CLASS}}__battle-controller-type-label">
    <input
      class="{{ROOT_CLASS}}__battle-controller-type-radio"
      name="battle-controller-type"
      type="radio"
      value="{{value}}"
      {{checked}}
    />
    {{label}}
  </label>
  {{{detail}}}
</div>