<label class="{{ROOT_CLASS}}__battle-animation-time-scale-label">
  <input
    class="{{ROOT_CLASS}}__battle-animation-time-scale-radio"
    name="battle-animation-time-scale"
    type="radio"
    value="{{value}}"
    {{checked}}
  />
  {{magnification}}倍
</label>