<div class="{{ROOT_CLASS}}__mini-controller-detail">
  <div class="{{ROOT_CLASS}}__mini-controller-overview">
    利便性重視の、ミニコントローラーです。
    キーボードショートカットに対応しているので、画面共有をしてもこちらのコマンドが漏れません。
  </div>
  <div class="{{ROOT_CLASS}}__mini-controller-keyboard-shortcuts">
    <div class="{{ROOT_CLASS}}__mini-controller-keyboard-shortcuts-title">
      キーボードショートカット（Windows版Chromeの場合）
    </div>
    <div class="{{ROOT_CLASS}}__mini-controller-keyboard-shortcuts-detail">
      <div class="{{ROOT_CLASS}}__mini-controller-command">バッテリー</div>
      <div class="{{ROOT_CLASS}}__mini-controller-keyboard-shortcut">
        <kbd class="{{ROOT_CLASS}}__keyboard-icon">alt</kbd>
        +
        <kbd class="{{ROOT_CLASS}}__number-key-icon">数字キー（0～8）</kbd>
      </div>
      <div class="{{ROOT_CLASS}}__mini-controller-command">バースト</div>
      <div class="{{ROOT_CLASS}}__mini-controller-keyboard-shortcut">
        <kbd class="{{ROOT_CLASS}}__keyboard-icon">alt</kbd>
        +
        <kbd class="{{ROOT_CLASS}}__keyboard-icon">b</kbd>
      </div>
      <div class="{{ROOT_CLASS}}__mini-controller-command">パイロット</div>
      <div class="{{ROOT_CLASS}}__mini-controller-keyboard-shortcut">
        <kbd class="{{ROOT_CLASS}}__keyboard-icon">alt</kbd>
        +
        <kbd class="{{ROOT_CLASS}}__keyboard-icon">p</kbd>
      </div>
    </div>
  </div>
  <div class="{{ROOT_CLASS}}__accesskey-caption">
    accesskeyという仕組みでキーボードショートカットを実現しているので、
    Windows版Chrome以外では
    <kbd class="{{ROOT_CLASS}}__keyboard-icon">alt</kbd>
    が他のキーに変わることがあります。 詳細は「
    <a
      href="{{accesskeyReference}}"
      target="_blank"
      rel="noopener"
    >MDN公式サイト</a>
    」を参照してください。
  </div>
</div>