<div class="{{ROOT_CLASS}}__player-pilot-visibility-option">
  <label class="{{ROOT_CLASS}}__player-pilot-visibility-label">
    <input
      class="{{ROOT_CLASS}}__player-pilot-visibility-radio"
      name="player-pilot-visibility"
      type="radio"
      value="{{value}}"
      {{checked}}
    />
    {{label}}
  </label>
  <div
    class="{{ROOT_CLASS}}__player-pilot-visibility-detail"
  >{{description}}</div>
</div>