<div class="{{ROOT_CLASS}}__player-selector-type-item">
  <label class="{{ROOT_CLASS}}__player-selector-type-label">
    <input
      class="{{ROOT_CLASS}}__player-selector-type-radio"
      type="radio"
      name="player-selector-type"
      value="{{value}}"
      {{checked}}
    />
    {{label}}
  </label>
  ここに詳細を記載します。
</div>