<label class="{{ROOT_CLASS}}__player-pilot-visibility-label">
  <input
    class="{{ROOT_CLASS}}__player-pilot-visibility-radio"
    name="player-pilot-visibility"
    type="radio"
    value="{{value}}"
    {{checked}}
  />
  {{caption}}
</label>