<div class="{{ROOT_CLASS}}__title">設定</div>
<div class="{{ROOT_CLASS}}__configs">
  <div class="{{ROOT_CLASS}}__player-selector-type">
    <div class="{{ROOT_CLASS}}__player-selector-type-title">
      ロボ、パイロット選択
    </div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__player-selector-type-description">
      ロボ、パイロットの選択方法を変更します。
    </div>
    <div class="{{ROOT_CLASS}}__player-selector-type-selector">
    </div>
  </div>  
  <div class="{{ROOT_CLASS}}__battle-animation-time-scale">
    <div class="{{ROOT_CLASS}}__battle-animation-time-scale-caption">バトル
      アニメ速度</div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__battle-animation-time-scale-description">
      バトル中のアニメーション速度を変更します。
    </div>
    <div
      class="{{ROOT_CLASS}}__battle-animation-time-scale-selector"
      data-id="battleAnimationTimeScaleSelector"
    >
      {{{battleAnimationTimeScales}}}
    </div>
  </div>
  <div class="{{ROOT_CLASS}}__webgl-pixel-ratio">
    <div class="{{ROOT_CLASS}}__webgl-pixel-ratio-caption">バトル ピクセルレート</div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__webgl-pixel-ratio-description">
      バトル中の画面解像度を変更します。
      値が大きくなるほど画面が綺麗になりますが、負荷が高くなります。
    </div>
    <div
      class="{{ROOT_CLASS}}__webgl-pixel-ratio-selector"
      data-id="webGLPixelRatioSelector"
    >
      {{{webGLPixelRatios}}}
    </div>
  </div>
  <div class="{{ROOT_CLASS}}__battle-controller-type">
    <div class="{{ROOT_CLASS}}__battle-controller-type-caption">バトル
      コントローラー</div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__battle-controller-type-description">
      バトル中のコントローラーを変更します。
    </div>
    <div
      class="{{ROOT_CLASS}}__battle-controller-type-selector"
      data-id="battleControllerTypeSelector"
    >
      {{{battleControllerTypes}}}
    </div>
  </div>
  <div class="{{ROOT_CLASS}}__bgm-volume">
    <div class="{{ROOT_CLASS}}__bgm-volume-caption">音量 BGM</div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__bgm-volume-description">
      BGMの音量を変更します。本設定は全画面で有効です。
    </div>
    <input
      class="{{ROOT_CLASS}}__bgm-volume-selector"
      type="range"
      min="0"
      max="1"
      step="0.1"
      value="{{config.bgmVolume}}"
      data-id="bgmVolumeSelector"
    />
    <span class="{{ROOT_CLASS}}__bgm-volume-value" data-id="bgmVolumeValue">
      {{bgmVolumeLabel}}</span>
  </div>
  <div class="{{ROOT_CLASS}}__se-volume">
    <div class="{{ROOT_CLASS}}__se-volume-caption">音量 SE</div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__se-volume-description">
      SEの音量を変更します。本設定は全画面で有効です。
    </div>
    <input
      class="{{ROOT_CLASS}}__se-volume-selector"
      type="range"
      min="0"
      max="1"
      step="0.1"
      value="{{config.seVolume}}"
      data-id="seVolumeSelector"
    />
    <span class="{{ROOT_CLASS}}__se-volume-value" data-id="seVolumeValue">
      {{seVolumeLabel}}</span>
  </div>
  <div class="{{ROOT_CLASS}}__performance-stats-visibility">
    <div
      class="{{ROOT_CLASS}}__performance-stats-visibility-caption"
    >パフォーマンス統計</div>
    <div class="{{ROOT_CLASS}}__config-separation"></div>
    <div class="{{ROOT_CLASS}}__performance-stats-visibility-description">
      FPSなどのパフォーマンス統計を画面に表示するかどうかを変更します。
      パフォーマンス統計を表示することで、一部画面では操作が困難になる場合があります。
    </div>
    <div
      class="{{ROOT_CLASS}}__performance-stats-visibility-selector"
      data-id="performanceStatsVisibilitySelector"
    >
      <label class="{{ROOT_CLASS}}__performance-stats-visibility-label">
        <input
          class="{{ROOT_CLASS}}__performance-stats-visibility-radio"
          type="radio"
          name="performance-stats-visibility"
          value="visible"
          {{checkedOfStatsVisible}}
        />表示する
      </label>
      <label class="{{ROOT_CLASS}}__performance-stats-visibility-label">
        <input
          class="{{ROOT_CLASS}}__performance-stats-visibility-radio"
          type="radio"
          name="performance-stats-visibility"
          value="hidden"
          {{checkedOfStatsHidden}}
        />表示しない
      </label>
    </div>
  </div>
</div>
<div class="{{ROOT_CLASS}}__footer">
  <button class="{{ROOT_CLASS}}__prev" data-id="prev">戻る</button>
  <button class="{{ROOT_CLASS}}__config-change" data-id="configChange">
    この設定にする
  </button>
</div>