<label class="{{ROOT_CLASS}}__webgl-pixel-ratio-selector-label">
  <input
    class="{{ROOT_CLASS}}__webgl-pixel-ratio-selector-radio"
    name="webgl-pixel-ratio"
    type="radio"
    value="{{value}}"
    {{checked}}
  />
  {{pixelRatio}}
</label>