<div class="{{ROOT_CLASS}}__background" data-id="{{ids.backGround}}"></div>
<div class="{{ROOT_CLASS}}__dialog">
  <img
    class="{{ROOT_CLASS}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="{{ids.closer}}"
  />
  <button
    class="{{ROOT_CLASS}}__casual-match"
    alt="カジュアルマッチをする"
    data-id="{{ids.casualMatchButton}}"
  >
    <div class="{{ROOT_CLASS}}__casual-match-title">カジュアルマッチ</div>
    <div
      class="{{ROOT_CLASS}}__casual-match-description"
    >{{casualMatchDescription}}</div>
  </button>
  <button
    class="{{ROOT_CLASS}}__private-match-host"
    alt="プライベートマッチ（ホスト）をする"
    data-id="{{ids.privateMatchHostButton}}"
  >
    <div class="{{ROOT_CLASS}}__private-match-host-title">
      プライベートマッチ<wbr />（ホスト）
    </div>
    <div
      class="{{ROOT_CLASS}}__private-match-host-description"
    >{{privateMatchHostDescription}}</div>
  </button>
  <button
    class="{{ROOT_CLASS}}__private-match-guest"
    alt="プライベートマッチ（ゲスト）をする"
    data-id="{{ids.privateMatchGuestButton}}"
  >
    <div class="{{ROOT_CLASS}}__private-match-guest-title">
      プライベートマッチ<wbr />（ゲスト）
    </div>
    <div
      class="{{ROOT_CLASS}}__private-match-guest-description"
    >{{privateMatchGuestDescription}}</div>
  </button>
</div>