<div class="{{BLOCK}}__dummy-status" data-id="dummyStatus"></div>
<div class="{{BLOCK}}__icons" data-id="icons"></div>
<div class="{{BLOCK}}__controllers">
  <button class="{{BLOCK}}__prev-button" data-id="prevButton">戻る</button>
  <button class="{{BLOCK}}__ok-button" data-id="okButton">これで出撃</button>
</div>