<div class="{{BLOCK}}__episode-type-tabs">
  <div class="{{EPISODE_TYPE_SELECTED}}" data-id="mainEpisodeTab">メイン</div>
  <div class="{{EPISODE_TYPE}}" data-id="sideEpisodeTab">サイド</div>
</div>
<div class="{{BLOCK}}__selector">
  <div class="{{BLOCK}}__episodes" data-id="episodes"></div>
  <button class="{{BLOCK}}__prev" data-id="prevButton">戻る</button>
</div>
<div class="{{BLOCK}}__episode-detail">
  <div class="{{BLOCK}}__episode-title" data-id="episodeTitle"></div>
  <div class="{{BLOCK}}__episode-image-cut-container" data-id="episodeImageCutContainer">
  </div>
  <div class="{{BLOCK}}__episode-introduction" data-id="episodeIntroduction"></div>
  <button class="{{BLOCK}}__play-episode" data-id="playButton">
    このエピソード<wbr />をプレイ
  </button>
</div>