<div class="{{ROOT_CLASS}}__episode-detail">
  <div
    class="{{ROOT_CLASS}}__episode-title"
    data-id="{{ids.episodeTitle}}"
  ></div>
  <div
    class="{{ROOT_CLASS}}__episode-image-cut"
    data-id="{{ids.episodeImageCut}}"
  >
  </div>
  <div
    class="{{ROOT_CLASS}}__episode-introduction"
    data-id="{{ids.episodeIntroduction}}"
  ></div>
</div>
<div class="{{ROOT_CLASS}}__selector">
  <div class="{{ROOT_CLASS}}__episode-type-tabs">
    <div
      class="{{EPISODE_TYPE_SELECTED}}"
      data-id="{{ids.mainEpisodeTab}}"
    >メイン</div>
    <div class="{{EPISODE_TYPE}}" data-id="{{ids.sideEpisodeTab}}">サイド</div>
  </div>
  <div class="{{ROOT_CLASS}}__episodes" data-id="{{ids.episodes}}"></div>
</div>
<div class="{{ROOT_CLASS}}__controllers">
  <button
    class="{{ROOT_CLASS}}__prev"
    data-id="{{ids.prevButton}}"
  >戻る</button>
  <button
    class="{{ROOT_CLASS}}__play-episode"
    data-id="{{ids.playButton}}"
  >このエピソードをプレイ</button>
</div>