<div class="{{ROOT_CLASS}}__title">チュートリアル</div>
<div class="{{ROOT_CLASS}}__episode-detail">
  <img
    class="{{ROOT_CLASS}}__episode-image-cut"
    src=""
    alt="エピソードのイメージカット"
    data-id="{{ids.episodeImageCut}}"
  />
  <div
    class="{{ROOT_CLASS}}__episode-title"
    data-id="{{ids.episodeTitle}}"
  ></div>
  <div
    class="{{ROOT_CLASS}}__episode-introduction"
    data-id="{{ids.episodeIntroduction}}"
  ></div>
</div>
<div class="{{ROOT_CLASS}}__episodes" data-id="{{ids.episodes}}"></div>
<div class="{{ROOT_CLASS}}__controllers">
  <button
    class="{{ROOT_CLASS}}__prev"
    data-id="{{ids.prevButton}}"
  >戻る</button>
  <button
    class="{{ROOT_CLASS}}__play-episode"
    data-id="{{ids.prevButton}}"
  >このエピソードをプレイ</button>
</div>