<div class="{{ROOT_CLASS}}__title">チュートリアル</div>
<div class="{{ROOT_CLASS}}__image-cuts" data-id="{{ids.imageCuts}}">
  <img class="{{ROOT_CLASS}}__cut-01" src="{{imageCut01}}" alt="イメージカット01">
  <img class="{{ROOT_CLASS}}__cut-02" src="{{imageCut02}}" alt="イメージカット02">
  <img class="{{ROOT_CLASS}}__cut-03" src="{{imageCut03}}" alt="イメージカット03">
</div>
<div class="{{ROOT_CLASS}}__stages" data-id="{{ids.stages}}"></div>
<button class="{{ROOT_CLASS}}__prev" data-id="{{ids.prevButton}}">戻る</button>