<img
  class="{{ROOT}}__pilot-icon"
  src="{{pilotIconPath}}"
  alt="{{pilot.name}}のアイコン"
/>
<div class="{{ROOT}}__status">
  <div class="{{ROOT}}__name">{{pilot.name}}</div>
  <div class="{{ROOT}}__skill">
    <span class="{{ROOT}}__skill-label">スキル</span>
    <span class="{{ROOT}}__skill-value">{{pilotSkill}}</span>
  </div>
</div>