<div class="{{ROOT}}__pilot-image">
  <img
    class="{{ROOT}}__bust-shot"
    src="{{pilotIconPath}}"
    alt="{{pilot.name}}のバストショット"
  />
  <div class="{{ROOT}}__name">{{pilot.name}}</div>
</div>
<div class="{{ROOT}}__skill">{{pilotSkill}}</div>