<div class="{{ROOT_CLASS}}__account-controller">
  <button data-id="{{ids.login}}" class="{{loginClassName}}">ログイン</button>
  <div class="{{accountClassName}}">
    <img
      class="{{ROOT_CLASS}}__avatar"
      alt="アカウントのアバター画像"
      data-id="{{ids.avatar}}"
    />
    <div class="{{INVISIBLE_ACCOUNT_MENU_CLASS}}" data-id="{{ids.accountMenu}}">
      <div class="{{ROOT_CLASS}}__account-name">
        <div class="{{ROOT_CLASS}}__account-name-prefix">アカウント名</div>
        <div class="{{ROOT_CLASS}}__account-name-value">{{accountName}}</div>
      </div>
      <div class="{{ROOT_CLASS}}__account-menu-separation"></div>
      <div
        class="{{ROOT_CLASS}}__delete-account"
        data-id="{{ids.deleteAccount}}"
      >アカウント削除</div>
      <div
        class="{{ROOT_CLASS}}__logout"
        data-id="{{ids.logout}}"
      >ログアウト</div>
    </div>
  </div>
</div>
<div class="{{ROOT_CLASS}}__help">
  <img
    class="{{ROOT_CLASS}}__help-icon"
    alt="ヘルプアイコン"
    data-id="{{ids.helpIcon}}"
  />
  <div class="{{INVISIBLE__HELP_MENU_CLASS}}" data-id="{{ids.helpMenu}}">
    <a
      class="{{ROOT_CLASS}}__how-to-play"
      href="{{params.howToPlayURL}}"
      target="_blank"
      rel="noopener"
    >遊び方</a>
    <a
      class="{{ROOT_CLASS}}__character-description"
      href="{{params.characterDescriptionURL}}"
      target="_blank"
      rel="noopener"
    >ロボ、パイロット説明</a>
    <div class="{{ROOT_CLASS}}__help-menu-separation"></div>
    <a
      class="{{ROOT_CLASS}}__terms-of-service"
      href="{{params.termsOfServiceURL}}"
      target="_blank"
      rel="noopener"
    >利用規約</a>
    <a
      class="{{ROOT_CLASS}}__privacy-policy"
      href="{{params.privacyPolicyURL}}"
      target="_blank"
      rel="noopener"
    >プライバシーポリシー</a>
    <a
      class="{{ROOT_CLASS}}__contact"
      href="{{params.contactURL}}"
      target="_blank"
      rel="noopener"
    >問い合わせ</a>
  </div>
</div>
<div class="{{ROOT_CLASS}}__armdozers">
  <img
    class="{{ROOT_CLASS}}__neo-landozer"
    alt="ネオランドーザ"
    src="{{neoLandozerPath}}"
    data-id="{{ids.neoLandozer}}"
  />
  <img
    class="{{ROOT_CLASS}}__shin-braver"
    alt="シンブレイバー"
    src="{{shinBraverPath}}"
    data-id="{{ids.shinBraver}}"
  />
</div>
<div class="{{ROOT_CLASS}}__contents">
  <div class="{{ROOT_CLASS}}__title">
    <img
      class="{{ROOT_CLASS}}__title-logo"
      alt="タイトルロゴ"
      data-id="{{ids.logo}}"
    />
    <small class="{{ROOT_CLASS}}__copy-rights">
      <span class="{{ROOT_CLASS}}__copy-rights-symbol">&copy;</span>
      <span class="{{ROOT_CLASS}}__copy-rights-year">2022</span>
      <span class="{{ROOT_CLASS}}__copy-rights-owner">Pegass85</span>
    </small>
    <small class="{{ROOT_CLASS}}__music">音楽 魔王魂</small>
  </div>
  <div class="{{ROOT_CLASS}}__game-menu">
    <button
      class="{{ROOT_CLASS}}__config"
      data-id="{{ids.config}}"
    >⚙️設定</button>
    <button
      class="{{netBattleClassName}}"
      data-id="{{ids.netBattle}}"
    >🌐ネット対戦</button>
    <button
      class="{{ROOT_CLASS}}__arcade"
      data-id="{{ids.arcade}}"
    >🕹アーケード</button>
    <button
      class="{{ROOT_CLASS}}__story"
      data-id="{{ids.story}}"
    >📕ストーリー</button>
    <button
      class="{{ROOT_CLASS}}__tutorial"
      data-id="{{ids.tutorial}}"
    >🔰チュートリアル</button>
  </div>
</div>