<img class="{{ROOT}}__hamburger-icon" src="{{battleHamburgerMenuPath}}" data-id="hamburger-icon"
     alt="ハンバーガーメニューのアイコン"/>
<div class="{{MENU_HIDDEN}}" data-id="menu">
  <div class="{{ROOT}}__retry" data-id="retry">バトルを最初からやり直す</div>
  <div class="{{ROOT}}__end-battle" data-id="end-battle">バトルを終了する</div>
</div>
<div class="{{BACKGROUND_HIDDEN}}"></div>
<div class="{{ROOT}}__retry-confirm-dialog">
  <div class="{{ROOT}}__retry-confirm-caption">バトルを最初からやり直しますか？</div>
  <button class="{{ROOT}}__retry-button">最初からやり直す</button>
  <button class="{{ROOT}}__retry-cancel-button">閉じる</button>
</div>