<img class="{{ROOT}}__hamburger-icon" src="{{battleHamburgerMenuPath}}" data-id="hamburger-icon"
  alt="ハンバーガーメニューのアイコン" />
<div class="{{MENU_HIDDEN}}" data-id="menu">
  <div class="{{ROOT}}__retry" data-id="retry">このステージをやり直す</div>
  <div class="{{ROOT}}__end-battle" data-id="end-battle">バトルを終了する</div>
</div>