<img
  class="{{ROOT}}__hamburger-icon"
  src="{{battleHamburgerMenuPath}}"
  data-id="hamburger-icon"
  alt="ハンバーガーメニューのアイコン"
/>
<div class="{{MENU_HIDDEN}}" data-id="menu">
  <div
    class="{{BATTLE_SIMULATOR_DISABLED}}"
    data-id="battle-simulator"
  >バトルシミュレーター</div>
  <div
    class="{{PLAYER_STATUS_DISABLED}}"
    data-id="player-status"
  >自分のステータス</div>
  <div
    class="{{ENEMY_STATUS_DISABLED}}"
    data-id="enemy-status"
  >敵のステータス</div>
  <div class="{{ROOT}}__separation"></div>
  <div class="{{retryClass}}" data-id="retry">バトルを最初からやり直す</div>
  <div class="{{ROOT}}__end-battle" data-id="end-battle">バトルを終了する</div>
</div>
<div class="{{BACKGROUND_HIDDEN}}" data-id="background"></div>
<div class="{{RETRY_CONFIRM_DIALOG_HIDDEN}}" data-id="retry-confirm-dialog">
  <img
    class="{{ROOT}}__retry-confirm-dialog-closer"
    data-id="retry-confirm-dialog-closer"
    src="{{closerPath}}"
    alt="リトライ確認ダイアログを閉じる"
  />
  <div
    class="{{ROOT}}__retry-confirm-caption"
  >バトルを最初からやり直しますか？</div>
  <button
    class="{{ROOT}}__retry-button"
    data-id="retry-button"
  >最初からやり直す</button>
  <button
    class="{{ROOT}}__retry-cancel-button"
    data-id="retry-cancel-button"
  >閉じる</button>
</div>
<div
  class="{{END_BATTLE_CONFIRM_DIALOG_HIDDEN}}"
  data-id="end-battle-confirm-dialog"
>
  <img
    class="{{ROOT}}__end-battle-confirm-dialog-closer"
    data-id="end-battle-confirm-dialog-closer"
    src="{{closerPath}}"
    alt="バトル終了確認ダイアログを閉じる"
  />
  <div class="{{ROOT}}__end-battle-confirm-caption">バトルを終了しますか？</div>
  <button
    class="{{ROOT}}__end-battle-button"
    data-id="end-battle-button"
  >バトルを終了する</button>
  <button
    class="{{ROOT}}__end-battle-cancel-button"
    data-id="end-battle-cancel-button"
  >閉じる</button>
</div>