<input
  class="{{ROOT_CLASS}}__checker"
  type="radio"
  name="episode"
  data-id="{{ids.checker}}"
  value="{{id}}"
/>
<span class="{{ROOT_CLASS}}__title">{{number}}. {{title}}</span>
<!-- <div class="{{ROOT_CLASS}}__overlay"></div> -->