<div class="{{ROOT_CLASS_NAME}}__background" data-id="backGround"></div>
<div class="{{ROOT_CLASS_NAME}}__dialog">
  <img
    class="{{ROOT_CLASS_NAME}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="closer"
  />
  <div class="{{ROOT_CLASS_NAME}}__caption">{{caption}}</div>
  <button
    class="{{ROOT_CLASS_NAME}}__login"
    data-id="loginButton"
  >ログイン</button>
  <button
    class="{{ROOT_CLASS_NAME}}__close"
    data-id="closeButton"
  >閉じる</button>
</div>