<div class="{{ROOT_CLASS}}__background" data-id="backGround"></div>
<div class="{{ROOT_CLASS}}__dialog">
  <img
    class="{{ROOT_CLASS}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="closer"
  />
  <div class="{{ROOT_CLASS}}__title">本当にアカウント削除しますか？</div>
  <div
    class="{{ROOT_CLASS}}__caption"
  >アカウント削除をすると、ネット対戦が出来なくなります。</div>
  <button
    class="{{ROOT_CLASS}}__delete-account"
    data-id="deleteAccountButton"
  >アカウント削除</button>
  <button class="{{ROOT_CLASS}}__close" data-id="closeButton">閉じる</button>
</div>