<div class="{{ROOT_CLASS}}__background" data-id="backGround"></div>
<div class="{{ROOT_CLASS}}__dialog">
  <img
    class="{{ROOT_CLASS}}__closer"
    alt="閉じる"
    src="{{closerPath}}"
    data-id="closer"
  />
  <div class="{{ROOT_CLASS}}__caption">{{caption}}</div>
  <button
    class="{{ROOT_CLASS}}__delete-account"
    data-id="deleteAccountButton"
  >アカウントを削除する</button>
  <button class="{{ROOT_CLASS}}__close" data-id="closeButton">閉じる</button>
</div>