<div class="{{ROOT_CLASS}}__title">
  <div class="{{ROOT_CLASS}}__prefix">
    <div class="{{ROOT_CLASS}}__episode-type">Episode</div>
    <div class="{{ROOT_CLASS}}__episode-number">{{params.number}}</div>
  </div>
  <div class="{{ROOT_CLASS}}__episode-name">{{params.title}}</div>
</div>
<img
  class="{{stand.className}}"
  data-id="stand"
  src="{{stand.path}}"
  alt="プレイヤーが操作するアームドーザの立ち絵"
/>
<img
  class="{{bustShot.className}}"
  data-id="bustShot"
  src="{{bustShot.path}}"
  alt="プレイヤーが操作するアームドーザのバストショット"
/>