<div class="{{ROOT_CLASS}}__title">
  <div class="{{ROOT_CLASS}}__prefix">
    <div class="{{ROOT_CLASS}}__episode-type">{{params.type}}</div>
    <div class="{{ROOT_CLASS}}__episode-number">{{params.number}}</div>
  </div>
  <div class="{{ROOT_CLASS}}__caption">{{params.title}}</div>
</div>
<img
  class="{{ROOT_CLASS}}__shin-braver-stand"
  data-id="{{ids.stand}}"
  src="{{stand}}"
  alt="シンブレイバー立ち絵"
/>
<img
  class="{{ROOT_CLASS}}__shin-braver-bust-shot"
  data-id="{{ids.bustShot}}"
  src="{{bustShot}}"
  alt="シンブレイバーのバストショット"
/>