<div class="{{ROOT}}__status">
  <div class="{{ROOT}}__name">シンブレイバー</div>
  <div class="{{ROOT}}__basic-params">
    <span class="{{ROOT}}__battery-label">
      <img
        class="{{ROOT}}__battery-icon"
        src="{{batteryIconPath}}"
        alt="バッテリーアイコン"
      />
    </span>
    <span class="{{ROOT}}__battery-value">5</span>
    <span class="{{ROOT}}__hp-label">HP</span>
    <span class="{{ROOT}}__hp-value">3100</span>
    <span class="{{ROOT}}__power-label">攻撃</span>
    <span class="{{ROOT}}__power-value">2000</span>
    <span class="{{ROOT}}__speed-label">機動</span>
    <span class="{{ROOT}}__speed-value">2000</span>
  </div>
  <div class="{{ROOT}}__burst">
    <span class="{{ROOT}}__burst-label">バースト</span>
    <span class="{{ROOT}}__burst-value">バッテリーを5回復する</span>
  </div>
</div>
<img class="{{ROOT}}__shin-braver-bust-shot" src="{{bustShotPath}}" />