<img class="{{ROOT}}__shin-braver-icon" src="{{iconPath}}" />
<div class="{{ROOT}}__status">
  <div class="{{ROOT}}__name">シンブレイバー</div>
  <div class="{{ROOT}}__battery-label">
    <img
      class="{{ROOT}}__battery-icon"
      src="{{batteryIconPath}}"
      alt="バッテリーアイコン"
    />
  </div>
  <div class="{{ROOT}}__battery-value">5</div>
  <div class="{{ROOT}}__hp-label">HP</div>
  <div class="{{ROOT}}__hp-value">3100</div>
  <div class="{{ROOT}}__power-label">攻撃</div>
  <div class="{{ROOT}}__power-value">2000</div>
  <div class="{{ROOT}}__speed-label">機動</div>
  <div class="{{ROOT}}__speed-value">2000</div>
  <div class="{{ROOT}}__burst-label">バースト</div>
  <div class="{{ROOT}}__burst-value">バッテリーを5回復する</div>
</div>