
<div class="{{ROOT}}__armdozer-image">
  <img
    class="{{ROOT}}__bust-shot"
    src="{{armdozerIconPath}}"
    alt="{{armdozer.name}}のイメージ"
  />
  <div class="{{ROOT}}__name">{{armdozer.name}}</div>
</div>
<div class="{{ROOT}}__battery-label">
  <img
    class="{{ROOT}}__battery-icon"
    src="{{batteryIconPath}}"
    alt="バッテリーアイコン"
  />
</div>
<div class="{{ROOT}}__battery-value">{{armdozer.maxBattery}}</div>
<div class="{{ROOT}}__hp-label">HP</div>
<div class="{{ROOT}}__hp-value">{{armdozer.maxHp}}</div>
<div class="{{ROOT}}__power-label">攻</div>
<div class="{{ROOT}}__power-value">{{armdozer.power}}</div>
<div class="{{ROOT}}__speed-label">機</div>
<div class="{{ROOT}}__speed-value">{{armdozer.speed}}</div>
<div class="{{ROOT}}__burst">{{burst}}</div>